{# Use paths from CONFIG.ENTRY + CONFIG.PAGE.BASEDIR #}
{# Default basedir is `./src/template` defined as CONFIG.PAGE.BASEDIR #}
{% extends "layout.njk" %}

{% block yield %}
<main role="main" class="flex-shrink-0" style="margin-top: 70px; margin-bottom: 70px;">
  <div class="container">

    <h1>Simple Webapp Bootstrapper</h1>
    <sub>with TypeScript & Vue </sub>

    <hr>

    <div id="app">
      <p class="lead">Sample VueComponents!!</p>
      <C_sample_clock></C_sample_clock>
      <C_sample_binding></C_sample_binding>
    </div>

  </div>
</main>
{% endblock %}